<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.monstersinc.stock101.news.model.mapper.NewsMapper">

    <!--  뉴스 ResultMap   -->
    <resultMap id="newsResultMap" type="News">
        <id     property="newsId"   column="news_id" />
        <result property="stockId"  column="stock_id" />
        <result property="title"  column="title" />
        <result property="contentSummary"  column="content_summary" />
        <result property="link"  column="link" />
        <result property="publishedAt"  column="published_at" />
        <result property="result"  column="result" />
        <result property="clickCount"  column="click_count" />
    </resultMap>

    <!-- 클릭수가 가장 많고 최신순의 6개의 뉴스 가져오기 -->
    <select id="selectPopularNews" resultMap="newsResultMap">
        SELECT
            news_id,
            stock_id,
            title,
            content_summary,
            link,
            published_at,
            result,
            img_url,
            click_count
        FROM news
        ORDER BY click_count DESC, published_at DESC
        LIMIT 6
    </select>

    <!--  뉴스 id로 click_count 증가  -->
    <update id="updateNewsClick">
        UPDATE news
        SET click_count = click_count + 1
        WHERE news_id = #{newsId}
    </update>
</mapper>