<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.monstersinc.stock101.auth.model.mapper.AuthMapper">
    
    <resultMap id="userResultMap" type="User">
        <id property="userId" column="user_id"/>
        <result property="email" column="email"/>
        <result property="name" column="user_name"/>
        <result property="password" column="password"/>
        <result property="createdAt" column="created_at"/>
        <result property="lastLoginAt" column="last_login_at"/>
        <result property="tierCode" column="tier_code"/>
        <result property="deletedAt" column="deleted_at"/>
        <result property="role" column="role"/>
    </resultMap>

    <select id="selectUserByEmail" parameterType="string" resultMap="userResultMap">
        SELECT u.user_id,
               user_name,
               email,
               password,
               created_at,
               last_login_at,
               tier_code,
               deleted_at,
               role

        FROM users u

        WHERE email = #{email};
    </select>

    <select id="selectUserByUserId" parameterType="long" resultMap="userResultMap">
        SELECT u.user_id,
               user_name,
               email,
               password,
               created_at,
               last_login_at,
               tier_code,
               role
        FROM users u
        WHERE u.user_id = #{userId};
    </select>
    
    <update id="cancelDeleteUser">
            UPDATE users
            SET
                deleted_at = NULL
            WHERE
                user_id = #{userId}
    </update>

    <update id="updateLastLogin">
        UPDATE users
        SET
            last_login_at = #{now}
        WHERE
            user_id = #{userId}
    </update>
</mapper>


